<div class="header">
  <button class="back-button" routerLink="/">Powrót</button>
  <img src="assets/logo.png" alt="Logo" class="logo" (click)="goToDashboard()">
</div>

<div class="container">
  <h2>Usuń język</h2>

  <div class="input-group">
    <label for="languageId">ID języka:</label>
    <input type="number" id="languageId" [(ngModel)]="languageId" placeholder="Podaj ID języka">
    <button (click)="deleteLanguage()">Usuń język</button>
  </div>
</div>

<div class="footer">
  © 2025 Education Mentor Manager. All rights reserved.
</div>
