<div class="header">
  <button class="back-button" routerLink="/">Powrót</button>

  <div class="logo-container">
    <a routerLink="/">
      <img src="assets/logo.png" alt="Logo ITCode" class="logo">
    </a>
  </div>
</div>

<div class="container">
  <h2>Dodaj język</h2>

  <div class="card">
    <div class="input-group">
      <label for="languageName">Nazwa języka:</label>
      <input type="text" id="languageName" [(ngModel)]="languageName" placeholder="Np. angielski, niemiecki">
      <button class="submit-button" (click)="addLanguage()">Dodaj język</button>
    </div>
  </div>
</div>

<div class="footer">
  © 2025 Education Mentor Manager. All rights reserved.
</div>
